/* header styles */

.header {
  display: block;
  text-align: center;
  font-size: 30px;
  
  display: flex;
  justify-content: space-around !important;

}

.header-font{
  font-size: 33px !important;
  font-weight: 500;
  margin-left: -10px !important;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

/* Home Page */

.home {
  display: flex;
}

.filters {
  background-color: #455d7a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: auto;
  border-radius: 10px;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.products {
  width: 30%;
  margin: 10px;
  border-radius: 20px !important;
  
}

.summary {
  width: 30%;
}



.btn-primary {
  color: #fff;
  background-color: #53a8b6 !important;
  border-color: #53a8b6 !important;
}

/* Media Queries */
@media (max-width: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }

  .filters > span {
    font-size: 10px;
  }

  .title {
    font-size: 18px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}
